.fieldName {
    color: #666;
    margin-bottom: 10px;
    display: inline-block;
}

textarea {
    padding: 5px;
    min-height: 100px;
    text-align: left;
}

.formContainer {
    padding: 20px;
    width: 800px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px #669999;
}

.banner {
    position: relative;
    height: 300px;
    background-image: url("https://d1ymz67w5raq8g.cloudfront.net/Pictures/1024x536/P/web/n/z/b/onlinecourses_shutterstock_490891228_2000px_728945.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
} */

input,
select,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
input:hover::placeholder {
    color: #669999;
}

.item input:hover,
.item select:hover,
.item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #669999;
    color: #669999;
}

.item {
    position: relative;
    margin: 10px 0;
}

.item span {
    color: red;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    
    font-size: 20px;
    color: #a3c2aa;
}

.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}

.btn-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.authorContainer {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.authorInput {
    width: 50%;
}

.authorContainer span,
.authorContainer h2 {
    color: #000;
}

.controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.controls .input {
    flex-basis: 60%;
    margin: 0;
}

.controls .input input {
    margin: 0;
    height: 23px;
}
