.courseList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.itemWrapper {
  background: linear-gradient(to right, #61dafb, purple);
  padding: 5px;
  margin-bottom: 40px;
}

.courseItem {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  background: #33454a;
}

.description {
  flex-basis: 65%; 
  min-width: 320px;
}

.information{
  flex-basis: 30%;
}

.subtitle {
  display: inline-block;
  margin-right: 20px;
}