body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #fff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section{
  border: blue;
}

.search-flex-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  align-items: center;
}

.course-flex-container {
  display: flex;
  border: solid 1px #61dafb;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  margin-bottom: 40px;
}

.courseList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.description {
  flex-basis: 65%; 
  min-width: 320px;
}

.information{
  flex-basis: 30%;
}

.header {
  display: flex;
  margin: 40px;
  justify-content:  space-between;
}

.logo {
  width: 150px;
  height: 150px;
}

.greet {
  margin: 60px;
  padding: 0px;
}

#login {
  margin-left: 30px;
}

.btn {
  border: none;
  border-radius: 3px;
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
}

.success {
  color:#282c34;
}

.search{
  height: 33px;
}
